*.mp4
!assets/ae-practice.mp4
!assets/aigc-collection.mp4
!assets/blender-practice.mp4
!assets/cat-and-flower.mp4
!assets/guiyi-demo.mp4
!assets/hero.mp4
!assets/horse-year-ad.mp4
!assets/hualong.mp4
!assets/medical-ad.mp4
!assets/medical-drama.mp4
!assets/shinkai-style.mp4
!assets/shuimo.mp4
!assets/tuili-demo.mp4
!assets/ue5-practice.mp4
!assets/zhuguang.mp4
*.mov
*.avi
*.webm
微信视频*
